/* Content page width */
.wy-nav-content {
    max-width: 1400px !important;
}

/*Custom class for centering text, with bold font*/
.center-bold {
    font-weight: bold !important;
    font-size: 40px !important;
    text-align: center !important;
}

.center {
    font-size: 20px !important;
    text-align: center !important;
}